#gallery{
	margin: 0 auto;
	width: 860px;
	height: 400px;
	text-align: center;
}
#gallery .photo img{
	width: 100%;
	height: autopx;
	display: none;	
}
#gallery .photo img:first-child{
	display: block;

}
#gallery .buttons{
	margin: 20px;
}
#gallery .buttons a{
	
	border: 1px solid gray;
	text-decoration: none;
	padding:15px 35px;
	font-size: 14px;
	border-radius: 15px;
}
